<!DOCTYPE html>

<html lang="es">

<head>

    <meta charset="UTF-8">

    <title>chat IA - Mini Nivimu</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body>

<div class="container">

<div class="nav">
 
    <a class="nav-link" href="/">Empleados</a>
  
    <a class="nav-link active" href="/chat">Chat RRHH</a>
  
    <a class="nav-link" href="/procesar-texto">Procesar texto</a>

</div>


    <h1>Chatbot de RRHH</h1>

    <form method="POST">

        <div class="form-group">

            <label>Escribe tu pregunta:</label>

            <input type="text" name="pregunta" required>

        </div>

        <button class="btn btn-primary" type="submit">

            Preguntar a la IA

        </button>
   
    </form>

    {% if respuesta %}

        <hr>

        <h3>Respuesta:</h3>

        <p>{{ respuesta }}</p>

    {% endif %}
    
    <br>

    <a href="/">--- Volver</a>
    
</div>

</body>

</html>