<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mini Nivimu - Empleados</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>

    <div class="container">

    <div class="nav">
        
        <a class="nav-link active" href="/">Empleados</a>

        <a class="nav-link" href="/chat">chat RRHH</a>

        <a class="nav-link" href="/procesar-texto">procesar texto</a>

    </div>
    
    <div class="header">

        <div>

            <h1>Lista de empleados</h1>

             {% if request.args.get("mensaje") %}

                <p class="msg-ok">
             
                    {{ request.args.get("mensaje") }}

                </p>

             {% endif %}

        </div>

    
        <a class="btn btn-primary" href="/nuevo">+ Añadir nuevo empleado</a>

    </div>


    <ul class="list">

        {% for empl in empleados %}
            <li>
                
                {{ empl["Nombre"] }} - {{ empl["Edad"] }} años - {{ empl["Puesto"] }}

                <form class="form-inline" method="POST" action="/eliminar/{{ loop.index0 }}">

                    <button class="btn btn-danger"
                    
                    type="submit"
                    
                    onclick="return confirm('¿Seguro que quieres eliminar este empleado?')"
                    
                    >
                    
                    Eliminar
                
                </button>
                    
             </form>

         </li>

    {% endfor %}
   
</ul>

</div>
    
</body>

</html>
